In [2]:
import pandas as pd
dfmi = pd.DataFrame([list('abcd'),
		list('efgh'),
		list('ijkl'),
		list('mnop')],
		columns=pd.MultiIndex.from_product([['one', 'two'],
							['first', 'second']]))

In [3]:
dfmi

    one          two
  first second first second
0     a      b     c      d
1     e      f     g      h
2     i      j     k      l
3     m      n     o      p

In [5]:
dfmi['one']

  first second
0     a      b
1     e      f
2     i      j
3     m      n

In [14]:
import pandas as pd
import numpy as np
dfb = pd.DataFrame({'a': ['one', 'one', 'two',

                              'three', 'two', 'one', 'six'],
                        'c': np.arange(7)})

In [7]:
dfb

       a  c
0    one  0
1    one  1
2    two  2
3  three  3
4    two  4
5    one  5
6    six  6

In [10]:
dfb['c'][dfb['a'].str.startswith('o')] = 42

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [11]:
dfb

       a   c
0    one  42
1    one  42
2    two   2
3  three   3
4    two   4
5    one  42
6    six   6

In [16]:
dfb[dfb['a'].str.startswith('o')]['c'] = 42

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [17]:
dfb

       a  c
0    one  0
1    one  1
2    two  2
3  three  3
4    two  4
5    one  5
6    six  6