In [1]:
import pandas as pd

df = pd.DataFrame({'col_1':['1234','3331','2251'],
	 		  'col_2':['stanley','Tony','rachel']})

In [2]:
df

  col_1    col_2
0  1234  stanley
1  3331     Tony
2  2251   rachel

In [14]:
max_col_size = df['col_2'].apply(lambda eachRow: len(str(eachRow).encode('UTF-8'))).max()

In [16]:
max_col_size

7

In [17]:
df['col_1'].apply(lambda eachRow: len(str(eachRow).encode('UTF_8')) == max_col_size).all()

False

In [5]:
max_col_size = 280
# remainder = max_col_size / 10 
# max_col_size * 2 % 10
# quotient,remainder = divmod(max_col_size,10)
# print(quotient,remainder)
# quotient * 10 + ((remainder // 10 + 1) * 10 )
# quotient * 10 + (remainder/remainder * 10)
(max_col_size + 9) // 10 * 10

280