In [3]:
import os

folderPath = "C:/Users/Public/Documents/Datasets/DATA 4000"
if os.path.exists(folderPath):
	print(os.listdir(folderPath))

['books_uniq_weeks.csv', 'DATA4000 Topic 5 Fresh Fruit Consumption in the US -1980 to 2016.csv', 'DATA4000 Topic 5 Fresh Fruit Consumption in the US -1980 to 2016.xlsx', 'DATA4000_BostonMatrix.csv', 'DATA4000_BostonMatrix.xlsx', 'DATA4000_Dataset_Energy_WellData.xlsx', 'DATA4000_Energy_WellData.csv', 'DATA4000_Energy_WellData.xlsx', 'DATA4000_sorting_stocks.csv', 'DATA4000_sorting_stocks.xlsx', 'Emotions.csv', 'Examplefile1.txt', 'Financial_data.xlsx', 'Financial_data_in_csv_format', 'Myfolder']

In [5]:
root,dirs,files = os.walk(folderPath)
root,dirs,files

(('C:/Users/Public/Documents/Datasets/DATA 4000',
  ['Financial_data_in_csv_format', 'Myfolder'],
  ['books_uniq_weeks.csv',
   'DATA4000 Topic 5 Fresh Fruit Consumption in the US -1980 to 2016.csv',
   'DATA4000 Topic 5 Fresh Fruit Consumption in the US -1980 to 2016.xlsx',
   'DATA4000_BostonMatrix.csv',
   'DATA4000_BostonMatrix.xlsx',
   'DATA4000_Dataset_Energy_WellData.xlsx',
   'DATA4000_Energy_WellData.csv',
   'DATA4000_Energy_WellData.xlsx',
   'DATA4000_sorting_stocks.csv',
   'DATA4000_sorting_stocks.xlsx',
   'Emotions.csv',
   'Examplefile1.txt',
   'Financial_data.xlsx']),
 ('C:/Users/Public/Documents/Datasets/DATA 4000\\Financial_data_in_csv_format',
  [],
  ['Adj Close.csv', 'ASX200.csv', 'BHP.csv', 'RejectShop.csv']),
 ('C:/Users/Public/Documents/Datasets/DATA 4000\\Myfolder',
  [],
  ['Examplefile2.txt', 'Examplefile3.txt']))

In [35]:
for currentPath,list_of_dirs,list_of_files in os.walk(folderPath):
	# print("----------------------------------------")
	# print(currentPath,list_of_dirs,list_of_files)
	# print("----------------------------------------")

	for f in list_of_files:
		print(f)

books_uniq_weeks.csv
DATA4000 Topic 5 Fresh Fruit Consumption in the US -1980 to 2016.csv
DATA4000 Topic 5 Fresh Fruit Consumption in the US -1980 to 2016.xlsx
DATA4000_BostonMatrix.csv
DATA4000_BostonMatrix.xlsx
DATA4000_Dataset_Energy_WellData.xlsx
DATA4000_Energy_WellData.csv
DATA4000_Energy_WellData.xlsx
DATA4000_sorting_stocks.csv
DATA4000_sorting_stocks.xlsx
Emotions.csv
Examplefile1.txt
Financial_data.xlsx
Adj Close.csv
ASX200.csv
BHP.csv
RejectShop.csv
textDocument.txt
Examplefile2.txt
Examplefile3.txt

In [37]:
for root, dirs, files in os.walk(folderPath):
	print([filename for filename in files])

['books_uniq_weeks.csv', 'DATA4000 Topic 5 Fresh Fruit Consumption in the US -1980 to 2016.csv', 'DATA4000 Topic 5 Fresh Fruit Consumption in the US -1980 to 2016.xlsx', 'DATA4000_BostonMatrix.csv', 'DATA4000_BostonMatrix.xlsx', 'DATA4000_Dataset_Energy_WellData.xlsx', 'DATA4000_Energy_WellData.csv', 'DATA4000_Energy_WellData.xlsx', 'DATA4000_sorting_stocks.csv', 'DATA4000_sorting_stocks.xlsx', 'Emotions.csv', 'Examplefile1.txt', 'Financial_data.xlsx']
['Adj Close.csv', 'ASX200.csv', 'BHP.csv', 'RejectShop.csv']
['textDocument.txt']
['Examplefile2.txt', 'Examplefile3.txt']

In [38]:
os.path.isdir(folderPath)

True

In [42]:
filePath = os.path.join(folderPath,'books_uniq_weeks.csv')
# os.path.isdir(filePath)
os.path.exists(filePath) and os.path.isdir(filePath)

False

In [44]:
assert(os.path.isdir(filePath))

AssertionError:

In [49]:
import re
for currentPath,dir_list,file_list in os.walk(folderPath):
	for fileName in file_list:
		# check if fileName ends in either:
		# - .xlsx
		# - .xls
		# - .csv
		# Basically we only want to detect excel and csv files
		if re.search('/.xlsx$|/.xls$',fileName):
			print(os.path.join(currentPath,fileName))

C:/Users/Public/Documents/Datasets/DATA 4000\DATA4000 Topic 5 Fresh Fruit Consumption in the US -1980 to 2016.xlsx
C:/Users/Public/Documents/Datasets/DATA 4000\DATA4000_BostonMatrix.xlsx
C:/Users/Public/Documents/Datasets/DATA 4000\DATA4000_Dataset_Energy_WellData.xlsx
C:/Users/Public/Documents/Datasets/DATA 4000\DATA4000_Energy_WellData.xlsx
C:/Users/Public/Documents/Datasets/DATA 4000\DATA4000_sorting_stocks.xlsx
C:/Users/Public/Documents/Datasets/DATA 4000\Financial_data.xlsx

In [48]:
import pandas as pd
pd.read_csv('RejectShop.csv',encoding='latin')

           Date   Open   High     Low  Close  Adj Close   Volume
0      1/3/2016  10.90  11.10  10.820  10.87   9.630605    66047
1      1/4/2016  10.82  10.82  10.310  10.76   9.533148   123471
2      1/5/2016  10.70  10.97  10.530  10.97   9.719204   118132
3      1/6/2016  10.76  10.76  10.135  10.44   9.249632    96642
4      1/7/2016  10.15  10.32  10.060  10.23   9.063578    52662
..          ...    ...    ...     ...    ...        ...      ...
704  10/14/2018   4.54   4.61   4.430   4.43   4.430000    54174
705  10/15/2018   4.45   4.58   4.440   4.47   4.470000    48450
706  10/16/2018   2.56   2.99   2.500   2.73   2.730000  3464982
707  10/17/2018   2.78   2.85   2.600   2.63   2.630000  1296118
708  10/18/2018   2.63   2.65   2.440   2.46   2.460000  1100105

[709 rows x 7 columns]

In [61]:
excelFile = pd.ExcelFile('Financial_data.xlsx',encoding='latin')

TypeError: __init__() got an unexpected keyword argument 'encoding'

In [54]:
excelFile.sheet_names

['ASX200', 'RejectShop', 'BHP', 'Adj Close']

In [60]:
type(excelFile.parse(sheet_name = 'ASX200',encoding='latin'))

pandas.core.frame.DataFrame

In [58]:
for worksheetName in excelFile.sheet_names:
	dataframeObject = excelFile.parse(sheet_name = worksheetName)
	print(dataframeObject)

          Date         Open         High          Low        Close  \
0   2016-01-03  5295.899902  5331.399902  5263.799805  5270.500000
1   2016-01-04  5270.500000  5270.500000  5183.700195  5184.399902
2   2016-01-05  5184.399902  5191.100098  5094.799805  5123.100098
3   2016-01-06  5123.100098  5124.100098  4996.500000  5010.299805
4   2016-01-07  5010.299805  5034.299805  4940.299805  4990.799805
..         ...          ...          ...          ...          ...
704 2018-10-14  5895.700195  5895.700195  5796.000000  5837.100098
705 2018-10-15  5869.899902  5884.700195  5837.100098  5869.899902
706 2018-10-16  5869.899902  5940.200195  5869.899902  5939.100098
707 2018-10-17  5939.100098  5942.799805  5914.899902  5942.399902
708 2018-10-18  5942.399902  5942.399902  5883.299805  5939.500000

       Adj Close  Volume
0    5270.500000     0.0
1    5184.399902     0.0
2    5123.100098     0.0
3    5010.299805     0.0
4    4990.799805     0.0
..           ...     ...
704  5837.100098     0.0
705  5869.899902     0.0
706  5939.100098     0.0
707  5942.399902     0.0
708  5939.500000     0.0

[709 rows x 7 columns]
          Date   Open   High     Low  Close  Adj Close   Volume
0   2016-01-03  10.90  11.10  10.820  10.87   9.630605    66047
1   2016-01-04  10.82  10.82  10.310  10.76   9.533148   123471
2   2016-01-05  10.70  10.97  10.530  10.97   9.719204   118132
3   2016-01-06  10.76  10.76  10.135  10.44   9.249632    96642
4   2016-01-07  10.15  10.32  10.060  10.23   9.063578    52662
..         ...    ...    ...     ...    ...        ...      ...
704 2018-10-14   4.54   4.61   4.430   4.43   4.430000    54174
705 2018-10-15   4.45   4.58   4.440   4.47   4.470000    48450
706 2018-10-16   2.56   2.99   2.500   2.73   2.730000  3464982
707 2018-10-17   2.78   2.85   2.600   2.63   2.630000  1296118
708 2018-10-18   2.63   2.65   2.440   2.46   2.460000  1100105

[709 rows x 7 columns]
          Date       Open        BHP        Low      Close  Adj Close  \
0   2016-01-03  17.850000  18.190001  17.730000  17.799999  15.898844
1   2016-01-04  17.730000  17.959999  17.510000  17.580000  15.702342
2   2016-01-05  17.750000  17.820000  17.010000  17.150000  15.318267
3   2016-01-06  16.730000  16.879999  16.299999  16.330000  14.585848
4   2016-01-07  16.110001  16.530001  15.950000  16.350000  14.603714
..         ...        ...        ...        ...        ...        ...
704 2018-10-14  33.540001  33.709999  33.020000  33.340000  33.340000
705 2018-10-15  33.750000  34.130001  33.700001  33.900002  33.900002
706 2018-10-16  34.119999  34.169998  33.430000  33.660000  33.660000
707 2018-10-17  33.509998  33.555000  33.090000  33.200001  33.200001
708 2018-10-18  32.680000  33.099998  32.430000  33.099998  33.099998

       Volume
0     6135625
1     6668488
2     8606929
3    13342782
4    12562037
..        ...
704   5553529
705   7614374
706   5356637
707   6767086
708   8825021

[709 rows x 7 columns]
          Date       ASX200        BHP  Reject shop (TRS)
0   2016-01-03  5270.500000  15.898844           9.630605
1   2016-01-04  5184.399902  15.702342           9.533148
2   2016-01-05  5123.100098  15.318267           9.719204
3   2016-01-06  5010.299805  14.585848           9.249632
4   2016-01-07  4990.799805  14.603714           9.063578
..         ...          ...        ...                ...
703 2018-10-14  5837.100098  33.340000           4.430000
704 2018-10-15  5869.899902  33.900002           4.470000
705 2018-10-16  5939.100098  33.660000           2.730000
706 2018-10-17  5942.399902  33.200001           2.630000
707 2018-10-18  5939.500000  33.099998           2.460000

[708 rows x 4 columns]

In [21]:
import re
folderPath = "C:/Users/Public/Documents/Datasets/DATA 4000/"
# os.path.basename(folderPath)
subjectName = os.path.basename(os.path.normpath(folderPath))
print(subjectName)
print(re.sub('/s+','',subjectName))
# for currentPath,dir_list,file_list in os.walk(folderPath)

DATA 4000
DATA4000

In [62]:
df

NameError: name 'df' is not defined

In [2]:
import pyodbc
dbName = 'MBAN'
schema = 'dbo'
conn = pyodbc.connect(f'''Driver={{SQL Server}};
			Server=KA-PF14P8C2/SQLEXPRESS;
			Database={dbName};
			Trusted_Connection=yes;''')
cursor = conn.cursor()

# cursor.fast_executemany = True

In [16]:
tableName = 'DATA4100_DATA4100_WoRKsHOP5_STOCKSSORTInG_TABLE_Sheet1'
# if cursor.tables(table=tableName,tableType = 'TABLE').fetchone():
# 	print("table exists")
# else:
# 	print("Table doesn't exist")

if cursor.tables(table=tableName,tableType = 'TABLE').fetchone() is None:
	print("Table doesn't exist")
else:
	print("table exists")

table exists

In [17]:
os.getcwd()

'c:\\Users\\stanley.setiawan\\Documents\\Projects\\AutomateSQLImport'

In [18]:
os.chdir('C:/Users/Public/Documents/Datasets/DATA 4200')

In [19]:
os.getcwd()

'C:\\Users\\Public\\Documents\\Datasets\\DATA 4200'

In [20]:
ls

 Volume in drive C is OSDisk
 Volume Serial Number is C21A-A094

 Directory of C:\Users\Public\Documents\Datasets\DATA 4200

22/06/2021  02:38 PM    <DIR>          .
22/06/2021  02:38 PM    <DIR>          ..
22/03/2021  11:22 PM           677,189 bank_connections.csv
22/03/2021  11:22 PM        57,969,510 Boston_Crimes.csv
22/06/2021  02:37 PM    <DIR>          customers
22/06/2021  02:37 PM    <DIR>          DATA4200_ansiaami-ec13-test-waveforms-1.0.0
29/04/2020  04:18 PM        57,969,510 DATA4200_Boston_Crimes.csv
07/05/2020  08:36 AM         5,021,528 DATA4200_JC-201608-citibike-tripdata.csv
29/04/2020  04:18 PM         3,494,721 DATA4200_JC-201608-citibike-tripdata.xlsx
29/04/2020  04:26 PM         4,816,632 DATA4200_JC-201608-citibike-tripdata-Mac_Mini_2019.csv
29/04/2020  04:18 PM           629,473 DATA4200_MissingMigrants-Global-2019-03-29T18-36-07.xlsx
29/04/2020  04:18 PM            19,406 DATA4200_offense_codes.csv
29/04/2020  04:18 PM            23,563 DATA4200_Offense_codes.xlsx
29/04/2020  04:26 PM               282 DATA4200_Suspects.csv
29/04/2020  04:18 PM             8,557 DATA4200_Suspects.xlsx
22/06/2021  02:37 PM    <DIR>          fincen
22/03/2021  11:23 PM                 0 JC-201608-citibike-tripdata.csv
22/03/2021  11:23 PM         3,500,840 JC-201608-citibike-tripdata.xlsx
22/03/2021  11:23 PM         4,816,632 JC-201608-citibike-tripdata-Mac_Mini_2019.csv
22/03/2021  11:23 PM         3,043,950 JC-201610-citibike-tripdata.xlsx
22/03/2021  11:23 PM            19,406 offense_codes.csv
22/03/2021  11:23 PM            29,688 Offense_codes.xlsx
29/04/2020  04:15 PM        63,857,349 OneDrive_1_4-29-2020.zip
22/03/2021  11:23 PM            17,891 Suspects_T1_2021.xlsx
22/03/2021  11:23 PM         1,080,006 transactions_map.csv
22/03/2021  11:23 PM         6,380,065 world_football_players_2020.csv
              21 File(s)    213,376,198 bytes
               5 Dir(s)  333,659,123,712 bytes free

In [24]:
import chardet
import pandas as pd 

with open('JC-201608-citibike-tripdata-Mac_Mini_2019.csv','rb') as file:
	encoding = chardet.detect(file.read(100000))['encoding']
print(f'File encoding is {encoding}')
df = pd.read_csv('JC-201608-citibike-tripdata-Mac_Mini_2019.csv',encoding=encoding)

File encoding is ascii

In [25]:
df

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender
0,165,1/8/16 0:09,1/8/16 0:12,3270,Jersey & 6th St,40.725289,-74.045572,3273,Manila & 1st,40.721651,-74.042884,24679,Subscriber,1968.0,1
1,705,1/8/16 1:45,1/8/16 1:56,3186,Grove St PATH,40.719586,-74.043117,3206,Hilltop,40.731169,-74.057574,24530,Subscriber,1978.0,1
2,854,1/8/16 2:22,1/8/16 2:36,3183,Exchange Place,40.716247,-74.033459,3190,Garfield Ave Station,40.710467,-74.070039,24649,Subscriber,1988.0,1
3,211,1/8/16 3:05,1/8/16 3:08,3194,McGinley Square,40.725340,-74.067622,3195,Sip Ave,40.730743,-74.063784,24624,Subscriber,1986.0,1
4,506,1/8/16 3:25,1/8/16 3:34,3195,Sip Ave,40.730743,-74.063784,3193,Lincoln Park,40.724605,-74.078406,24624,Subscriber,1986.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34144,421,31/8/16 23:42,31/8/16 23:49,3185,City Hall,40.717733,-74.043845,3192,Liberty Light Rail,40.711242,-74.055701,26238,Subscriber,1989.0,1
34145,295,31/8/16 23:44,31/8/16 23:49,3273,Manila & 1st,40.721651,-74.042884,3278,Monmouth and 6th,40.725685,-74.048790,26173,Subscriber,1980.0,2
34146,227,31/8/16 23:50,31/8/16 23:53,3220,5 Corners Library,40.734961,-74.059503,3195,Sip Ave,40.730743,-74.063784,24638,Subscriber,1987.0,1
34147,312,31/8/16 23:56,1/9/16 0:01,3195,Sip Ave,40.730743,-74.063784,3194,McGinley Square,40.725340,-74.067622,24638,Subscriber,1988.0,1
34148,229,31/8/16 23:59,1/9/16 0:03,3276,Marin Light Rail,40.714584,-74.042817,3214,Essex Light Rail,40.712774,-74.036486,26163,Subscriber,1958.0,1

In [65]:
import re
import pandas as pd
import chardet

# os.chdir('C:/Users/Public/Documents/Datasets/DATA 4200/scriptTest/customers')

for currentPath,dir_list,file_list in os.walk('.'):
	for fileName in file_list:
		if re.search('/.csv$',fileName):
			print(fileName)
			# filePath = os.path.join(currentPath,fileName)
			
			# with open(filePath,'rb') as file:
			# 	encoding=chardet.detect(file.read(100000))['encoding']


			# try:
			try:
				pd.read_csv(filePath,encoding=encoding)
			except pd.io.common.EmptyDataError:
				print(f'{filePath} is empty')
				pass
			# except EmptyDataError:
			# 	print(f'{fileName} is empty')
			# 	continue
			# except Empty:
			# 	continue

In [48]:
os.getcwd()

'C:\\Users\\Public\\Documents\\Datasets\\DATA 4200\\scriptTest\\customers'

In [68]:
os.getcwd()

'C:\\Users\\Public\\Documents\\Datasets\\DATA 4200\\scriptTest\\customers'

In [93]:
# os.walk('.')
# folderPath = 'C:/Users/Public/Documents/Datasets/DATA 4200/scriptTest/customers'
for currentPath,dir_list,file_list in os.walk('.'):
	if '__MACOSX' not in currentPath:
		for fileName in file_list:
			if re.search('\.csv$',fileName):
				filePath = os.path.join(currentPath,fileName)
				# print(filePath)
				with open(filePath,'rb') as file:
					encoding=chardet.detect(file.read(100000))['encoding']
					print(filePath,encoding)

				try:
					pd.read_csv(filePath,encoding=encoding)
				except pd.io.common.EmptyDataError as emptyTableError:
					print(f'{filePath} is empty')
					print(str(emptyTableError))
					pass
				except pd.io.common.ParserError as dfStructureError:
					print(f'{filePath} has error in its table structure')
					print(str(dfStructureError))
					pass
				except UnicodeDecodeError as encodingError:
					print(f'{filePath} has error in encoding')
					print(encodingError)
					pass

.\customers\categories.csv ascii
.\customers\customers.csv utf-8
.\customers\employees.csv ascii
.\customers\order-details.csv ascii
.\customers\orders.csv utf-8
.\customers\products.csv utf-8
.\customers\suppliers.csv utf-8
.\__MACOSX\customers\._categories.csv Windows-1252
.\__MACOSX\customers\._categories.csv has error in encoding
'charmap' codec can't decode byte 0x9d in position 158: character maps to <undefined>
.\__MACOSX\customers\._customers.csv Windows-1252
.\__MACOSX\customers\._customers.csv has error in encoding
'charmap' codec can't decode byte 0x9d in position 158: character maps to <undefined>
.\__MACOSX\customers\._employees.csv Windows-1252
.\__MACOSX\customers\._employees.csv has error in encoding
'charmap' codec can't decode byte 0x9d in position 158: character maps to <undefined>
.\__MACOSX\customers\._order-details.csv Windows-1252
.\__MACOSX\customers\._order-details.csv has error in encoding
'charmap' codec can't decode byte 0x9d in position 158: character maps to <undefined>
.\__MACOSX\customers\._orders.csv Windows-1252
.\__MACOSX\customers\._orders.csv has error in encoding
'charmap' codec can't decode byte 0x9d in position 246: character maps to <undefined>
.\__MACOSX\customers\._products.csv Windows-1252
.\__MACOSX\customers\._products.csv has error in encoding
'charmap' codec can't decode byte 0x9d in position 158: character maps to <undefined>
.\__MACOSX\customers\._suppliers.csv Windows-1252
.\__MACOSX\customers\._suppliers.csv has error in encoding
'charmap' codec can't decode byte 0x9d in position 158: character maps to <undefined>

In [89]:
filePath = '.\__MACOSX\customers\._orders.csv'

# with open(filePath,'rb') as file:
# 	print(chardet.detect(file.read()))

pd.read_csv('.\__MACOSX\customers\._orders.csv')

  Unnamed: 0
0        ~r

In [84]:
df

  Unnamed: 0
0        ~r