In [1]:
import pandas as pd

In [2]:
test_df = pd.DataFrame({'Column_1':['Stanley','Leonhard','Setiawwan'],
                        'Column_2':['22','This is it','random'],
                        'Column_3':['11/22/2017','12/20/2018','09/05/2020'],
                        'Column_4':['10/27/2015','12/15/2016','27/10/2015']})

In [3]:
test_df['Column_5'] = pd.Series(['Jan','Feb','Mar'])
test_df['Column_6'] = pd.Series(['January','February','March'])

In [4]:
test_df['Column_7'] = [22,None,'']
test_df['Column_8'] = [3.5,0.05,999.4]

In [5]:
test_df

,Column_1,Column_2,Column_3,Column_4,Column_5,Column_6,Column_7,Column_8
0,Stanley,22,11/22/2017,10/27/2015,Jan,January,22,3.50
1,Leonhard,This is it,12/20/2018,12/15/2016,Feb,February,None,0.05
2,Setiawwan,random,09/05/2020,27/10/2015,Mar,March,,999.40

In [6]:
import sys
test_df['Column_2'].apply(lambda x: sys.getsizeof(x))

0    51
1    59
2    55
Name: Column_2, dtype: int64

In [12]:
number = r'a'
# sys.getsizeof(number)
len(number.encode('utf-8'))

1

In [8]:
len(number)

1

In [19]:
len('a'.encode('utf-8'))

1

In [26]:
test_df['Column_1'].apply(lambda x: len(x.encode('UTF-8'))).max()

9