In [4]:
import pandas as pd
import numpy as np

In [5]:
test_df = pd.DataFrame({'Column_1':['Stanley','Leonhard','Setiawan',None],
                        'Column_2':['22','This is it','random',None],
                        'Column_3':['11/22/2017','12/20/2018','09/05/2020',None],
                        'Column_4':['10/27/2015','12/15/2016','10/31/2015',None]})

test_df['Column_5'] = pd.Series(['Jan','Feb','Mar',None])
test_df['Column_6'] = pd.Series(['January','February','March',None])
test_df['Column_7'] = [22,None,'',None]
test_df['Column_8'] = [3.5,0.05,999.4,None]
test_df['Column_9'] = ['15:00','03:00','09:00',None]
test_df['Column_10'] = ['   ',' stanley this ',' ',"\n \n \t some'String"]

In [6]:
test_df

,Column_1,Column_2,Column_3,Column_4,Column_5,Column_6,Column_7,Column_8,Column_9,Column_10
0,Stanley,22,11/22/2017,10/27/2015,Jan,January,22,3.50,15:00,
1,Leonhard,This is it,12/20/2018,12/15/2016,Feb,February,None,0.05,03:00,stanley this
2,Setiawan,random,09/05/2020,10/31/2015,Mar,March,,999.40,09:00,
3,None,None,None,None,None,None,None,NaN,None,\n \n \t some'String

In [8]:
test_df.values.tolist()

[['Stanley',
  '22',
  '11/22/2017',
  '10/27/2015',
  'Jan',
  'January',
  22,
  3.5,
  '15:00',
  '   '],
 ['Leonhard',
  'This is it',
  '12/20/2018',
  '12/15/2016',
  'Feb',
  'February',
  None,
  0.05,
  '03:00',
  ' stanley this '],
 ['Setiawan',
  'random',
  '09/05/2020',
  '10/31/2015',
  'Mar',
  'March',
  '',
  999.4,
  '09:00',
  ' '],
 [None, None, None, None, None, None, None, nan, None, "\n \n \t some'String"]]