In [1]:
from collections import namedtuple

In [2]:
mercedes = namedtuple('Car','color mileage')

In [3]:
newCar = mercedes('red',2000)

In [6]:
type(newCar).__name__

'Car'

In [ ]:

Car = namedtuple('Car',[
    'manufacturer',
    'color',
    'mileage'
])

In [ ]:
dodgeViper = Car(manufacturer='Dodge')

In [ ]:
my_car = Car('red',3812.4)

In [ ]:
my_car.mileage

In [ ]:
Person = namedtuple('person',[
                    'age',
                    'firstName',
                    'lastName'
                ])

In [ ]:
Stanley = Person(26,'Stanley','Setiawan')

In [ ]:
Stanley

In [ ]:
value = 1

In [ ]:
thisValue = True if value == 1 else False

In [ ]:
thisValue

In [1]:
df

NameError: name 'df' is not defined