### Reading with pd.ExcelFile()

In [19]:
import pandas as pd

excel_file = pd.ExcelFile('C:/Users/stanley.setiawan/Documents/Datasets/DATA 4000/Financial_data.xlsx')
df = excel_file.parse('ASX200')

### Reading with pd.read_excel() function

In [60]:
df = pd.read_excel("C:/Users/stanley.setiawan/Documents/Datasets/DATA 4000/Financial_data.xlsx")

In [66]:
df = pd.read_csv("C:/Users/stanley.setiawan/Documents/Datasets/DATA 4000/Financial_data_in_csv_format/Adj Close.csv")

In [67]:

def convert_datecol_to_string(df_obj):
	for column_name in df_obj.select_dtypes('datetime').columns:
		df_obj[column_name] = df_obj[column_name].astype('str')
	return df_obj

df = convert_datecol_to_string(df)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 710 entries, 0 to 709
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Date               708 non-null    object
 1   ASX200             708 non-null    float64
 2   BHP                708 non-null    float64
 3   Reject shop (TRS)  708 non-null    float64
dtypes: float64(3), object(1)
memory usage: 22.3+ KB

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 710 entries, 0 to 709
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Date               708 non-null    object
 1   ASX200             708 non-null    float64
 2   BHP                708 non-null    float64
 3   Reject shop (TRS)  708 non-null    float64
dtypes: float64(3), object(1)
memory usage: 22.3+ KB

In [45]:
import numpy as np
df.select_dtypes(include='datetime')

          Date
0   2016-01-03
1   2016-01-04
2   2016-01-05
3   2016-01-06
4   2016-01-07
..         ...
704 2018-10-14
705 2018-10-15
706 2018-10-16
707 2018-10-17
708 2018-10-18

[709 rows x 1 columns]

In [16]:
df.info()
def convert_to_string(df_obj)
	for column_name in df_obj.columns:
		if 'datetime' in df_obj[column_name].dtype.name:
			df[column_name] = df[column_name].astype('str')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 709 entries, 0 to 708
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       709 non-null    object
 1   Open       708 non-null    float64
 2   High       708 non-null    float64
 3   Low        708 non-null    float64
 4   Close      708 non-null    float64
 5   Adj Close  708 non-null    float64
 6   Volume     708 non-null    float64
dtypes: float64(6), object(1)
memory usage: 38.9+ KB
object
float64
float64
float64
float64
float64
float64

In [8]:
def findDataType(dataFrameColumn):
    try:
        column = pd.to_numeric(dataFrameColumn)
        dataType=column.dtype.name
    except:
        column = dataFrameColumn.astype('str')
        # dataType = column.dtype.name
        dataType ='string' 

        try:
            column = pd.to_datetime(dataFrameColumn)
            dataType='datetime'
        except:
            # column = dataFrameColumn.astype('string')
            # dataType = column.dtype.name
            column = dataFrameColumn.astype('str')
            dataType = 'string' 
        else:
            if (column.dt.floor('d') == column).all():
                dataType = 'date'
            elif (column.dt.date == pd.Timestamp('now')).all():
                dataType = 'time'
            else:
                # dataType=column.dtype.name
                dataType='string'
    finally:
        return dataType

In [9]:
findDataType(df['Date'])

'int64'