In [12]:
import pandas as pd

df = pd.read_csv('Adj Close.csv')

In [13]:
df.head()

       Date       ASX200        BHP  Reject shop (TRS)
0  1/3/2016  5270.500000  15.898844           9.630605
1  1/4/2016  5184.399902  15.702342           9.533148
2  1/5/2016  5123.100098  15.318267           9.719204
3  1/6/2016  5010.299805  14.585848           9.249632
4  1/7/2016  4990.799805  14.603714           9.063578

In [17]:
df.isna()

      Date  ASX200    BHP  Reject shop (TRS)
0    False   False  False              False
1    False   False  False              False
2    False   False  False              False
3    False   False  False              False
4    False   False  False              False
..     ...     ...    ...                ...
705  False   False  False              False
706  False   False  False              False
707  False   False  False              False
708   True    True   True               True
709   True    True   True               True

[710 rows x 4 columns]

In [18]:
df.dropna(how='all',inplace=True)

In [55]:
def findDataType(column):
#     column = dataframe[columnName]
    try:
        column = pd.to_numeric(column)
    except:
        # column is not of type int or float
        try:
            column = pd.to_datetime(column)
        except:
            # just parse column as string because it's not a number and it's not in date/time format
            column = column.astype('string')
    finally:
        return column.dtype

In [80]:
import re
column = test_df['Column_8']
column = column[(column.notna()) &
                (column != '')]
# test_df['Column_7'] = column
# findDataType(column).name

re.search('\D+',findDataType(column).name).group()

'float'

In [39]:
test_df

,Column_1,Column_2,Column_3,Column_4,Column_5,Column_6,Column_7,Column_8
0,Stanley,22,11/22/2017,10/27/2015,Jan,January,22,3.50
1,Leonhard,This is it,12/20/2018,12/15/2016,Feb,February,None,0.05
2,Setiawwan,random,09/05/2020,27/10/2015,Mar,March,,999.40

In [24]:
df.dtypes

Date                  object
ASX200               float64
BHP                  float64
Reject shop (TRS)    float64
dtype: object

In [25]:
test_df = pd.DataFrame({'Column_1':['Stanley','Leonhard','Setiawwan'],
                        'Column_2':['22','This is it','random'],
                        'Column_3':['11/22/2017','12/20/2018','09/05/2020'],
                        'Column_4':['10/27/2015','12/15/2016','27/10/2015']})

In [26]:
test_df['Column_5'] = pd.Series(['Jan','Feb','Mar'])
test_df['Column_6'] = pd.Series(['January','February','March'])

In [27]:
test_df['Column_7'] = [22,None,'']
test_df['Column_8'] = [3.5,0.05,999.4]

In [28]:
test_df

,Column_1,Column_2,Column_3,Column_4,Column_5,Column_6,Column_7,Column_8
0,Stanley,22,11/22/2017,10/27/2015,Jan,January,22,3.50
1,Leonhard,This is it,12/20/2018,12/15/2016,Feb,February,None,0.05
2,Setiawwan,random,09/05/2020,27/10/2015,Mar,March,,999.40

In [32]:
test_df['Column_3'].astype("string")

0    11/22/2017
1    12/20/2018
2    09/05/2020
Name: Column_3, dtype: string

In [34]:
test_df['Column_3']

0    11/22/2017
1    12/20/2018
2    09/05/2020
Name: Column_3, dtype: object